html, body, #root {
  height: 100%;
  margin: 0;
}

div {
  scroll-behavior: smooth;
}

button, a, select {
  border: none;
  outline: none;
  text-decoration: none;
}

::placeholder {
  font-family: Changa;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #DCDCDC;
}

/* Changa regular */
@font-face {
  font-family: "Changa";
  src: url("fonts/Changa-Regular.eot");
  src: url("fonts/Changa-Regular.eot?#iefix") format('embedded-opentype'),
       url("fonts/Changa-Regular.woff2") format('woff2'),
       url("fonts/Changa-Regular.woff") format('woff'),
       url("fonts/Changa-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* Changa Bold */
@font-face {
  font-family: "Changa Bold";
  src: url("fonts/Changa-Bold.eot");
  src: url("fonts/Changa-Bold.eot?#iefix") format('embedded-opentype'),
       url("fonts/Changa-Bold.woff2") format('woff2'),
       url("fonts/Changa-Bold.woff") format('woff'),
       url("fonts/Changa-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: bold;
}
/* Roboto Regular */
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.eot");
  src: url("fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'),
       url("fonts/Roboto-Regular.woff2") format('woff2'),
       url("fonts/Roboto-Regular.woff") format('woff'),
       url("fonts/Roboto-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* Roboto Bold */
@font-face {
  font-family: "Roboto Bold";
  src: url("fonts/Roboto-Bold.eot");
  src: url("fonts/Roboto-Bold.eot?#iefix") format('embedded-opentype'),
       url("fonts/Roboto-Bold.woff2") format('woff2'),
       url("fonts/Roboto-Bold.woff") format('woff'),
       url("fonts/Roboto-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: bold;
}
